@font-face {
  font-family: "ferrari-sans-light";
  src: url("./fonts/Ferrari-SansLight.otf");
}
@font-face {
  font-family: "ferrari-sans-medium";
  src: url("./fonts/Ferrari-SansMedium.woff2");
}
@font-face {
  font-family: "ferrari-sans-regualr";
  src: url("./fonts/Ferrari-SansRegular.woff2");
}
body {
  margin: 0;
  background-color: #f3f3f3;
  color: #333;
  font-family: "ferrari-sans-light";
}

.toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.content-container {
  width: 100%;
}
.toolbar-content {
  width: 83%;
  max-width: 1380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 8px;
  padding-block: 15px;
}

.selection-row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 40px;
}
.selection-row > label  {
  display: flex;
  align-items: stretch;
  column-gap: 4px;
}
.btn-download {
  background-color: #E10600; 
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.btn-download:hover {
  background-color: #B50000; 
  transform: scale(1.05);
}

.btn-download:active {
  background-color: #900000;
  transform: scale(0.98);
}

.btn-download:disabled {
  background-color: #D3A8A3;
  cursor: not-allowed;
}


.flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}


.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 10px;
  position: relative;
  transition: transform 0.2s;
  width: 20%;
  margin: 0.5em;
  box-sizing: border-box;
  height: 400px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-control{
  width: 100%;
  margin-bottom: 1em;
}

.card-control > input{
 transform: scale(1.5);
}

.card:hover {
  transform: translateY(-5px);
}


.image-container {
  width: 95%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f0f0f3;
  border-radius: 6px;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.filetype {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ccc;
  color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 0.8em;
}

.info {
  text-align: center;
  padding: 5px;
  flex-grow: 1;
  margin-top: 1em;
}

.title {
  font-weight: bold;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  font-size: 0.9em;
}

.author {
  font-size: 0.8em;
  color: #555;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.privacy {
  text-align: center;
  padding: 15px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}

.video-thumbnail {
  position: relative;
  display: inline-block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  width: 80%;
  max-width: 800px;
  height: 500px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #333333;
  box-shadow: 2px 2px 20px 1px;
}

.modal-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.zoom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.zoom-container img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s ease;
}

.modal-controls {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1em 0;

}

.modal > .title{
  color: white;
  margin: 1em 0;
}

.btn {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-modal {
  transition: font-weight 0.3s
}

.btn-modal:hover {
  font-weight: bold;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 1em 0;
  padding: 0 10px;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}

iframe{
  width: 100%;
  height: 100%;
  border: none;
}



@media (max-width: 1024px) {
  .card {
      width: 30%;
      height: 280px;
  }
  .image-container {
      height: 160px;
  }
  .toolbar-content {
    width: 93%;
  }
}

@media (max-width: 768px) {
  .card {
      width: 45%;
      height: 260px;
  }
  .image-container {
      height: 140px;
  }
}

@media (max-width: 580px) {
  .toolbar{
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    align-items: flex-start;
    flex-direction: column;
    background-color: #f3f3f3;
    box-shadow: none;
  }
  .toolbar-content {
    width: calc(100% - 36px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 10px;
    row-gap: 12px;
  }
  .selection-row {
    margin-right: 8px;
    width: 100%;
  }
  .toolbar > button{
    margin: 0.5em 0;
  }
  .flex{
    margin-top: 9em;
  }
  .card {
      width: 100%;
      height: 350px;
  }
  .card:hover {
    transform: none;
  }
  .image-container {
      height: 200px;
  }

  .close-btn {
    font-size: 14px;
  }
  .modal {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 0;
  }

  .modal-content {
    width: 108%;
    height: 100%;
  }
  iframe{
    height: 106%;
    width: 105%;
  }
  .btn-download {
    width: 100%;
  }

 
   
}